@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

@font-face {
  font-family: "Calibri Light";
  src: url("/public/calibril.woff") format("woff");
}

* {
  box-sizing: border-box;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 20vh;
}

.container-ya {
  height: 100vh;
  position: relative;
  width: 100%;
  overflow-x: clip;
}

.bookicons-image-container-three {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 4%;
  width: 9vw;
  height: 22vh;
  gap: 1vh;
  background-color: #3e2a5c;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}

.chapteronetextimg {
  margin-top: 2vh;
  margin-bottom: 1vh;
  width: 8vw;
  height: 7vh;
}

/* .amberqueentextimg {
  margin-top: 2vh;
  width: 10vw;
  height: 11vh;
} */

.amberqueentextimg {
  margin-top: 2vh;
  width: 10vw;
  height: 10vh;
  margin: 2vh 0 0 0;
  padding: 0;
}

.subscribe-text-img {
  margin-top: 3vh;
  margin-bottom: 2vh;
  width: 8vw;
  height: 5vh;
}

.container {
  width: 100vw;
}

.thanks {
  font-size: 3vh;
  color: black;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 2.5vh;
}

.italics {
  font-family: "Calibri Light";
}

.arrow-container {
  position: relative;
  top: 550px;
  width: 10px;
  height: 10px;
}

.arrow {
  position: absolute;
  width: 40px;
  height: 40px;
  border-right: 8px solid white;
  border-bottom: 8px solid white;
  transform: rotate(45deg);
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0) rotate(45deg);
  }
  40% {
    transform: translateY(-30px) rotate(45deg);
  }
  60% {
    transform: translateY(-15px) rotate(45deg);
  }
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  overscroll-behavior: none;
  background-color: black;
}

.bookicons-title {
  font-size: 20px;
  color: white;
}

.text-two {
  font-size: 20px;
  color: white;
  padding-bottom: 1vh;
  margin: 0;
}

.text-two-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2vh;
}

.sky {
  width: 100vw;
  height: 100vh;
  z-index: 2;
  /* overflow-x: hidden; */
}

.mist {
  display: flex;
  justify-content: end;
  object-fit: fit;
  position: absolute;
  top: 700px;
  left: 0;
  width: 50vw;
  height: 50vh;
  z-index: 3;
  opacity: 0.2;
}

.mist-inner {
  position: absolute;
  bottom: 300px;
  right: 100px;
  z-index: 3;
  width: 100%;
  height: 100%;
}

.sky-inner {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.signupsuccess {
  color: white;
}

.castle {
  object-fit: contain;
  position: relative;
  bottom: 50vh;
  left: 0;
  width: 100vw;
  /* wiggle has to do with this */
  height: 100vh;
  z-index: 5;
  overflow-x: hidden;
}

.castle-inner {
  object-fit: contain;
  width: 100vw;
  height: 100%;
  z-index: 5;
}

.fogOne {
  display: flex;
  justify-content: end;
  object-fit: contain;
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100vw;
  height: 30vh;
  z-index: 30;
}

.fogone-inner {
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: 30;
}

.chapter-text {
  font-family: "EB Garamond", serif;
  color: black;
  font-size: 2.5vh;
}

.yiddish-text {
  padding: 0;
  margin: 0;
  font-style: italic;
}

.break {
  height: 1vh;
}

.chapter-paragraph {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.yiddish-paragraph {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.text {
  height: 10vh;
  width: 40%;
  object-fit: scale-down;
  padding: 0;
  margin: 0;
}

.text-queen {
  margin-bottom: -0.5vh;
  margin-top: -2.5vh;
  margin-right: 1.5vh;
}

.novel-by {
  color: #fae8c0;
  font-size: 15px;
  z-index: 100;
  letter-spacing: 0.2vw;
}

.amberqueencontainer {
  object-fit: contain;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 9vh;
  z-index: 4;
  padding: 0;
  margin: 0;
}

.lake {
  z-index: 20;
  object-fit: contain;
  position: absolute;
  top: 70vh;
  left: 0;
  width: 100vw;
  height: 100%;
}

.europemap {
  object-fit: contain;
  margin-top: 4vh;
  margin-bottom: 3vh;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 2px solid black;
}

.lake-inner {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.underwater {
  z-index: 5;
  object-fit: scale-down;
  position: relative;
  bottom: 55vh;
  left: 0;
  width: 100vw;
  height: 110vh;
  padding: 0;
  margin: 0;
}

.underwater-inner {
  z-index: 10;
  width: 100%;
  height: 100%;
}

.main-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.bookicons-container {
  display: flex;
  gap: 3vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 40vh;
  z-index: 6;
  height: 50%;
  width: 100%;
}

.subscribe-text {
  font-size: 2vw;
  color: black;
  margin-bottom: 2vh;
}

.bookicons-image-container {
  display: flex;
  gap: 3vw;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 40vw;
  z-index: 10;
  width: 100vw;
  margin-top: 5vh;
}

.temp-text {
  color: white;
  font-size: 20px;
}

.bookicons-image {
  width: 10vh;
  height: 10vh;
}

.amberqueen-bookicons-image {
  width: 12vh;
  height: 10vh;
  object-fit: contain;
}

.amberqueen-bookicons-image-container {
  object-fit: contain;
  width: 12vh;
  height: 2vh;
}

.underwater-image-temp {
  border-radius: 5%;
  font-size: 40px;
  width: 15vh;
  height: 15vh;
}

.underwater-image-temp-container {
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

input {
  text-decoration: none;
}

.email-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
  width: 30vw;
}

.email {
  width: 100%;
  height: 5vh;
  border-radius: 0.5vw;
  padding-left: 1vw;
  border: none;
  font-size: 1.75vh;
}

.email:focus {
  outline: none;
}

.sign-up {
  font-size: 15px;
  font-weight: bold;
}

.yiddish {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.yiddish-translation {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sign-up-button {
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 5vh;
  border-radius: 0.5vw;
  padding-left: 10px;
  border: none;
  transition: transform 0.1s;
  font-size: 2vh;
}

.sign-up-button:active {
  transform: scale(0.95);
  opacity: 0.8;
}

.sign-up-button:hover {
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  padding-top: 10vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.modal-content {
  background-color: #e6e6e6;
  border-radius: 8px;
  max-width: 50%;
  overflow-y: auto;
  width: 80%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.modal-content-form {
  background-color: #e6e6e6;
  border-radius: 8px;
  max-width: 50%;
  overflow-y: auto;
  width: 80%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.modal-header {
  padding-top: 2vh;
  padding-left: 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6e6e6;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.modal-footer {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6e6e6;
}

.modal-header h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.modal-overlay-subscribe {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.5s ease-in-out;
}

.title {
  font-size: 4vh;
  text-align: center;
  margin-top: 0;
  font-family: "EB Garamond", serif;
  font-weight: bold;
  margin-bottom: 1.5vh;
}

.title-author {
  font-size: 4vh;
  text-align: center;
  margin-top: 2vh;
  font-family: "EB Garamond", serif;
  font-weight: bold;
  margin-bottom: 1.5vh;
}

.prologue-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.prologue-img {
  width: 10vw;
  height: 18vh;
  object-fit: contain;
  /* border-radius: 40% / 50%; */
}

.chapter-one-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.chapter-one-img {
  padding-top: 1vh;
  padding-bottom: 1vh;
  width: 8vw;
  height: 13vh;
  object-fit: contain;
  /* border-radius: 3vw; */
}

.modal-content-subscribe {
  max-width: 50%;
  overflow-y: auto;
  width: 80%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.5s ease-in-out;
}

.modal-body-subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  flex-grow: 1;
  background-color: #d1bd64;
}

.modal-header-subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d1bd64;
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
  height: 5vh;
}

.modal-footer-subscribe {
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d1bd64;
  height: 5vh;
}

.modal-overlay-credits {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.5s ease-in-out;
}

.modal-content-credits {
  max-width: 50%;
  overflow-y: auto;
  width: 40%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.5s ease-in-out;
}

.modal-body-credits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  flex-grow: 1;
  padding: 0 5vw 0 5vw;

  background-color: #e6e6e6;
}

.credits-title {
  font-size: 4vh;
  font-family: "EB Garamond", serif;
  margin-bottom: 1.5vh;
}

.credits-list-item {
  font-size: 3vh;
  font-family: "EB Garamond", serif;
}

.modal-header-credits {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6e6e6;
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
  height: 5vh;
}

.modal-footer-credits {
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6e6e6;
  height: 5vh;
}

.close-button-credits {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: black;
  padding: 1vw;
}

.close-button-subscribe {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: black;
  padding: 1vw;
}

.close-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: black;
}

.close-button-subscribe:hover {
  color: white;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  flex-grow: 1;
  background-color: #e6e6e6;
}

.modal-body-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding-bottom: 2vh;
  flex-grow: 1;
  background-color: #e6e6e6;
}

.book-content {
  width: 75%;
  padding: 0 10px 0 10px;
  line-height: 25px;
}

.bookicons-image-container-two {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

.black-screen {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  padding-top: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  position: relative;
  bottom: 100vh;
  /* bottom: 1400px; */
}

.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
}

.banner {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: black;
  padding: 1rem 2rem;
  border-radius: 4px;
  z-index: 1000;
  animation: fadeInOut 2s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
  15% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  85% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 2vh;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.contact-form label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: black;
  font-size: 1vw;
  font-family: "EB Garamond", serif;
}

.contact-form input,
.contact-form textarea {
  padding: 0.8rem;
  border: 1px solid black;
  border-radius: 1vh;
  background: rgba(255, 255, 255, 0.9);
  color: #000;
  font-family: "EB Garamond", serif;
}

.form-input {
  padding: 0.8rem;
  border: 1px solid black;
  border-radius: 1vh;
  background: rgba(255, 255, 255, 0.9);
  color: #000;
  font-family: "EB Garamond", serif;
}

form textarea {
  min-height: 150px;
  resize: vertical;
}

.contact-form button {
  padding: 1rem 2rem;
  background: rgb(26, 26, 26);
  color: white;
  border: none;
  border-radius: 1vh;
  width: 100%;
  height: 4vh;
  cursor: pointer;
  font-family: "EB Garamond", serif;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background: #666;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #666;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}

.success-message {
  background: rgba(0, 128, 0, 0.8);
  color: white;
  padding: 1.5rem;
  border-radius: 8px;
  text-align: center;
  animation: slideDown 0.5s ease-out;
  max-width: 500px;
  margin: 2rem auto;
}

.success-message p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.success-message button {
  background: white;
  color: green;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-family: "EB Garamond", serif;
  transition: background-color 0.3s ease;
}

.success-message button:hover {
  background: #f0f0f0;
}

@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.bookicons-image-container-three:nth-of-type(1),
.bookicons-image-container-two:nth-child(1) .bookicons-image-container-three {
  background: #386152;
  background: #917b80;
  background: #3e2d5c;
}

.bookicons-image-container-three:nth-of-type(2),
.bookicons-image-container-two:nth-child(2) .bookicons-image-container-three {
  background: #697892;
  background: #9c8054;
  background: #917b80;
  background: #3e2d5c;
}

.bookicons-image-container-three:nth-of-type(3),
.bookicons-image-container-two:nth-child(3) .bookicons-image-container-three {
  background: #3e2d5c;

  box-shadow: 0 0 30px 0 #e29e41;
  width: 11vw;
  height: 26vh;
}

.bookicons-image-container-three:nth-of-type(4),
.bookicons-image-container-two:nth-child(4) .bookicons-image-container-three {
  /* background: #4b1a14; */
  background: #855609;
  background: #917b80;
  background: #3e2d5c;
}

.bookicons-image-container-three:nth-of-type(5),
.bookicons-image-container-two:nth-child(5) .bookicons-image-container-three {
  background: #ba5120;
  background: #3e2d5c;
}
s .bookicons-image-container-three:hover {
  cursor: pointer;
}

.temp {
  width: 6.5vw;
  height: 17vh;
}

.temptwo {
  padding: 0;
  margin: 0;
  margin-top: 1vh;
  width: 6vw;
  height: 7vh;
}

.tempfour {
  padding: 0;
  margin: 0;
  margin-top: 3vh;
  margin-bottom: 1vh;
  width: 6vw;
  height: 4vh;
}

.tempthree {
  object-fit: contain;
  width: 7vw;
  height: 6vh;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
